.create-your-guifos {
    height: 386px;
    width: 684px;
    margin: 6% auto;
    background: #E6E6E6;
    box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
}

.heading {
    background-image: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
    padding: 1%;
    color: #fff;
    font-size: 14px;
}

.guifos-body {
    padding: 3%;
}

.body-img {
    /*background-color: yellow;*/
    width: 32px;
    margin-right: 2%;
    display: inline-block;
    vertical-align: middle;
}

.details {
    /*background-color: pink;*/
    display: inline-block;
    align-content: left;
    vertical-align: text-top;
    width: 92%
}

.details ol {
    /*border: 1px solid red;*/
    padding: 2% 3%;
}

.buttons {
    font-size: 16px;
    height: 36px;
    width: 144px;
    color: #110038;
    letter-spacing: 0;
    line-height: 18px;
    text-align: center;
    text-decoration: none;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
    cursor: pointer;
    outline: none;
    margin: 2% 0.5%;
    padding: 2% 3%;
}

.btn-white {
    background-color: #FFFFFF;
    color: #110038 !important;
    transition: all 0.3s ease;
}

.btn-white:hover {
    background-color: #e5e5e5;
    transition: all 0.3s ease;
}

.btn-pink {
    background-color: #F7C9F3;
    color: #110038 !important;
    transition: all 0.3s ease;
}

.btn-pink:hover {
    background-color: #ffc0cb;
    transition: all 0.3s ease;
}

.btn-red {
    background-color: #FF6161;
    color: #110038 !important;
    transition: all 0.3s ease;
}

.btn-red:hover {
    background-color: #fa5b5b;
    transition: all 0.3s ease;
}

.right {
    text-align: right;
}

.Chequeo {
    width: 860px;
    height: 548px;
}

.Chequeo-body {
    /*background-color: yellow;
    border: 1px solid black;*/
    width: 832px;
    height: 434px;
    margin: 0.5% auto;
}

.close {
    display: inline-block;
    float: right;
}

.footer-area {
    padding: 1.2% .5%;
    width: 100%;
    position: relative;
    text-align: left;
    float: left;
}

.footer-left-part {
    width: 49%;
    text-align: left;
    display: inline-block;
    margin-left: 0.5%;
    padding: 0 0 0 1%;
}

.footer-right-part {
    width: 49%;
    display: block;
    text-align: right;
    display: inline-block;
}

.timer {
    width: 124px;
    height: 36px;
    /*float: left;*/
    display: inline-block;
    text-align: center;
    padding: 1.6% 2%;
    background: #FFFFFF;
    border: 1px solid #979797;
    box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
}

.forward {
    padding-top: 1%;
    display: inline-block;
}

#downloadImg {
    padding-top: 8px;
    width: ;
}

#videoPlayer.show {
    background: #FFFFFF;
    border: 1px solid #979797;
    box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
}

.h5-exito {
    display: flex;
}

.forward2 {
    padding-top: 1%;
    display: inline-block;
}

.forward button {
    width: 20px;
    height: 20px
}

.forward img {
    width: 6px;
    height: 10px
}

.forward progress {
    height: 20px;
    margin: -2px 0;
    box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
}

.btn-icon {
    width: 36px;
    height: 36px;
    padding: 1%;
    border: 1px solid black;
}

.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid #110038;
    ;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 0px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    height: 36px;
    color: #fff;
}

li {
    list-style-type: none;
}

.btn-group {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}


/* copiado */

.buffer-bar {
    display: flex;
    padding: 0 20px;
    align-self: center;
}

.buffer {
    margin: 0 3px;
    padding: 3px;
    background: #b4b4b4;
    box-shadow: inset 2px 2px 0 0 #000000, inset -2px -2px 0 0 #fffcfc;
    align-self: center;
    display: flex;
}

.loading {
    width: 15px;
    height: 16px;
    background: #f7c9f3;
}

.loading-5,
.loading-6,
.loading-7,
.loading-8,
.loading-9,
.loading-10 {
    width: 15px;
    height: 16px;
    background: #999999;
    border-right: 2px solid #b4b4b4;
}


}
.loading-active {
    background: #f7c9f3;
}
.loading:not(:last-child) {
    border-right: 2px solid #b4b4b4;
}
.forward-container {
    background: #F7C9F3;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
    width: 22px;
    height: 22px;
}
.forward-icon {
    margin-top: 5px;
    margin-left: 8px;
}

/* copiado */
.btn-group>.btn {
    position: relative;
    float: left;
}
.uploading {
    padding: 13%;
    text-align: center;
    background: #FFFFFF;
    border: 1px solid #979797;
    box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
    height: 100%;
}
.btn-xl {
    width: 256px;
}
.p-0 {
    padding: 0;
}
.Uploaded-body {
    width: 100%;
    position: relative;
    text-align: left;
    float: left;
    padding: 2%;
    display: block;
}
.left-side {
    width: 365px;
    height: 191px;
    position: relative;
    text-align: left;
    display: inline-block;
    float: left;
    margin-left: 0.5%;
    padding: 2px;
    /* opacity: 0.3; */
    
    border: 1px solid #000;
}
.left-side img {
    width: 100%;
}
.right-side {
    width: 43%;
    padding: 3% 2%;
    display: block;
    text-align: center;
    display: inline-block;
}
.hide {
    display: none !important;
}
.show {
    display: inline-block !important;
}
.show-bl {
    display: block;
}
#tendencias-gif #contenedorgifs:hover #p-gifs {
    display: block;
}

/* progress[value]::-webkit-progress-value::before {
    content: '80%';
    position: absolute;
    right: 0;
    top: -125%;
} */
#gif-images {
    display: flex;
    flex-direction: row;
    float: left;
    position: relative;
}
#viewRecorded ul li img {
    padding-right: 15px;
}
#viewRecorded ul li {
    float: left;
}

/* Popup design */
.hidden {
    display: none;
}
.popup {
    width: 100vw;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    position: fixed;
    top: 0;
    left: 0;
}
.window-element {
    background: #b4b4b4;
    -webkit-box-shadow: inset -2px -2px 0 0 #8f8f8f, inset 2px 2px 0 0 #fff;
    box-shadow: inset -2px -2px 0 0 #8f8f8f, inset 2px 2px 0 0 #fff;
}
.window-element__header-container {
    padding: 0.375rem;
    padding-right: 2rem;
    margin-bottom: 0.125rem;
    overflow: hidden;
    position: relative;
}
.window-element__header-container {
    background: -webkit-gradient(linear, right top, left top, from(#ee3efe), to(#2e32fb));
    background: linear-gradient(270deg, #ee3efe 0%, #2e32fb 100%);
    color: #fff;
}
.window-element__header-container__header {
    overflow: hidden;
    white-space: nowrap;
    font-size: 0.875rem;
    font-weight: 700;
    text-overflow: ellipsis;
}
input,
button,
textarea,
select {
    font: inherit;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
button {
    background-color: transparent;
    cursor: pointer;
}
.window-element__header-container__close-btn {
    background: url(../img/close.svg);
    width: 1rem;
    height: 0.875rem;
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
    z-index: 1;
}
.popup__window__content {
    padding: 1rem;
}
.popup__window__content__main {
    margin-bottom: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
    justify-content: center;
}
@media screen and (min-width: 576px) {
    .popup__window__content__main {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }
}
.popup__window__content__main .success {
    background: center no-repeat url(../img/msg_success.png);
}
@media screen and (min-width: 576px) {
    .popup__window__content__main__popup-icon {
        margin-right: 1rem;
        margin-bottom: 0;
    }
}
.popup__window__content__main__popup-icon {
    margin-bottom: 1rem;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 2rem;
    height: 2rem;
    display: block;
    background: center no-repeat url(../img/window_img.png);
}
@media screen and (min-width: 576px) {
    .popup__window__content__main__text-content {
        text-align: left;
    }
}
.popup__window__content__main__text-content__header {
    margin-bottom: 0.5rem;
}
h3,
.window-element__content--split__text__header,
.popup__window__content__main__text-content__header,
.gif-creation--stage5__title,
.gif-creation--stage6__options-container__header,
.gif-creation--stage7__header {
    font-size: 1rem;
    font-weight: bold;
}
p {
    color: #110038;
}
.window-element__content__options {
    display: -webkit-box;
    display: -ms-flexbox;
    /* display: flex; */
    
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    width: 100%;
}
.btn--primary {
    color: #fff;
    background: #ee3efe;
    border: 1px solid #110038;
    -webkit-box-shadow: inset -1px -1px 0 0 #a72cb3, inset 1px 1px 0 0 #fff;
    box-shadow: inset -1px -1px 0 0 #a72cb3, inset 1px 1px 0 0 #fff;
}