* {
    padding: 0;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    font-family: "Chakra Petch";
}

body {
    background-color: #110038;
}

a {
    color: #110038;
    ;
    text-decoration: none;
}


/* primera sección */

.section-top-header {
    background-image: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
    box-shadow: 0 1px 0 0 #110038;
    margin: 1px 1px 1px 1px;
}

.top-header p {
    color: white;
    padding-left: 7px;
}


/* Header */

.section-main-header {
    padding-top: 35px;
    padding-left: 100px;
    padding-right: 140px;
}

.inner-header {
    width: 100%;
    height: 64px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0px;
}

.logo-header {
    margin-left: 0px;
    width: 100%;
}

.nav-header {
    background: white;
    height: 36px;
    display: flex;
    background-color: #110038;
}

.nav-header button {
    font-size: 16px;
    height: 36px;
    color: white;
    letter-spacing: 0;
    line-height: 18px;
    text-align: center;
    text-decoration: none;
    background: #EE3EFE;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #A72CB3, inset 1px 1px 0 0 #FFFFFF;
    cursor: pointer;
    outline: none;
}

.botones-tema {
    display: flex;
}

.button-1 {
    margin-right: 16px;
    width: 144px;
}

.button-1:hover {
    background: rgb(192, 29, 181);
}

.button-1:active {
    border: 0.5px solid #000;
    outline: 0.5px dashed rgba(17, 0, 56, 1);
    outline-offset: -5px;
}

.button-2 {
    width: 131px;
}

.botones-tema:hover .button-2 {
    background: rgb(192, 29, 181);
}

.botones-tema:active .button-2 {
    border: 0.5px solid #000;
    outline: 0.5px dashed rgba(17, 0, 56, 1);
    outline-offset: -5px;
}

.botones-tema:hover .button-dropdown {
    background: rgb(192, 29, 181);
}

.botones-tema:active .button-dropdown {
    border: 0.5px solid #000;
    outline: 0.5px dashed rgba(17, 0, 56, 1);
    outline-offset: -5px;
}

.button-dropdown {
    width: 36px;
    margin-right: 16.5px;
    transform: rotate(-270deg);
}

.button-dropdown img {
    display: flex;
    align-items: center;
}

.mis-gifos a {
    color: white;
}

.temas-despegable {
    background: #B4B4B4;
    box-shadow: inset -2px -2px 0 0 #8F8F8F, inset 2px 2px 0 0 #FFFFFF;
    margin-top: 10px;
    position: absolute;
    top: 98px;
    z-index: 200;
    height: 102px;
    width: 168px;
    color: #110038;
    letter-spacing: 0;
    line-height: 22px;
}

.sailor-day,
.sailor-night {
    height: 36px;
    width: 148px;
    margin: 10px 10px 10px 10px;
    color: #110038;
    padding-left: 16px;
    padding-top: 7px;
    cursor: pointer;
}

.sailor-day {
    background: #FFF4FD;
    border: 1px solid #CCA6C9;
    box-shadow: inset -1px -1px 0 0 #E6DCE4, inset 1px 1px 0 0 #FFFFFF;
}

.sailor-night {
    background: #F0F0F0;
    border: 1px solid #808080;
    box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
}

#temas-despegable {
    display: none;
}

.nav-header a {
    width: 76px;
    font-size: 16px;
    color: white;
    letter-spacing: 0;
    margin-top: 9px;
    text-align: center;
    line-height: 18px;
    list-style-type: none;
}

.span-menu {
    text-decoration: underline;
}


/* Buscador primera parte */

.section-search-bar {
    margin-top: 38px;
    margin-left: 100px;
    margin-right: 140px;
    height: 99px;
    background: #B4B4B4;
    box-shadow: inset -2px -2px 0 0 #8F8F8F, inset 2px 2px 0 0 #FFFFFF;
}

.search-bar-header {
    box-sizing: content-box;
    background-image: linear-gradient(270deg, #EE3EFE 0%, #2E32FB 100%);
    height: 24px;
    width: 99.3%;
    padding-left: 3px;
    position: relative;
    margin-left: 0.3%;
    display: table;
}

.search-bar-header p {
    font-size: 14px;
    font-weight: 700;
    display: table-cell;
    vertical-align: middle;
    color: #FFFFFF;
    letter-spacing: 0;
}


/* Buscador campo*/

.search-full-conteiner {
    display: flex;
    flex-direction: row;
}

.search-bar-finder {
    margin-left: 2%;
    margin-top: 1.1%;
    width: 100%;
    height: 100%;
}

.search-bar-finder input {
    width: 100%;
    height: 48px;
    padding-left: 2%;
    background: #FFFFFF;
    border: 1px solid #979797;
    box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
}

.sugerencias {
    background: #B4B4B4;
    box-shadow: inset -2px -2px 0 0 #8F8F8F, inset 2px 2px 0 0 #FFFFFF;
    margin-top: 10px;
    position: relative;
    z-index: 100;
    height: 165px;
    padding-left: 15px;
    padding-top: 17px;
    padding-right: 128px;
    padding-bottom: 16px;
    color: #110038;
    letter-spacing: 0;
    line-height: 22px;
}

#sugerencias {
    display: none;
}

.sugerencias>div {
    /* background: #F0F0F0; */
    background: #CCCCCC;
    border: 1px solid #808080;
    box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
    padding-left: 16px;
    padding-top: 7px;
    padding-bottom: 7px;
    cursor: pointer;
}

.sugerencias-cat,
.sugerencias-dog {
    margin-bottom: 11px;
}

.sugerencias>div:active,
.sugerencias>div:hover {
    border: 1px solid #110038;
    background: #80808015;
}

.search-bar-finder input::placeholder {
    font-family: "Chakra Petch";
    font-size: 16px;
    color: #B4B4B4;
    letter-spacing: 0;
    line-height: 22px;
}

.div-button-search {
    margin-top: 1.1%;
    width: 128px;
    display: flex;
    flex-direction: row;
    align-items: center;
    display: inline-flex;
    margin-right: 1.5%;
    margin-left: 0.5%;
}

.div-button-search button {
    margin-top: 1.1%;
    width: 102px;
    height: 36px;
    font-family: "Chakra Petch";
    font-size: 16px;
    color: #B4B4B4;
    letter-spacing: 0;
    line-height: 18px;
    background: #E6E6E6;
    border: 1px solid #808080;
    box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
    outline: none;
}

#finder {
    /* background: #B4B4B4; */
}

#finder:active {
    border: 0.5px solid #000;
    outline: 0.5px dashed rgba(17, 0, 56, 1);
    outline-offset: -5px;
}

#p-finder {
    color: #B4B4B4;
}

.finder img {
    width: 16px;
    height: 16px;
    margin: auto;
    display: inline-block;
}

.finder p {
    width: fit-content;
    display: inline-block;
    margin-left: 10%;
}


/* Sección Sugerencias */

.section-sugerencias {
    padding-top: 64px;
    margin-left: 100px;
    margin-right: 140px;
    height: 99px;
}

.contenedor-sugerencias {
    height: 32px;
    background: #FFFAFE;
    border: 1px solid #E6BBE2;
    box-shadow: inset -2px -2px 0 0 #E6DCE4, inset 2px 2px 0 0 #80687D;
    display: flex;
    align-items: center;
}

.contenedor-sugerencias p {
    margin-left: 7px;
}


/* Boton ver mas */

.button-sugerencias-1 {
    position: relative;
    bottom: 47px;
    left: 7px;
    background: #4180F6;
    border: 1px solid #4C2F99;
    box-shadow: inset -2px -2px 0 0 #284F99, inset 2px 2px 0 0 #FFFFFF;
    width: 76px;
    height: 32px;
}

.button-sugerencias-1:hover {
    border: 0.5px solid #000;
    outline: 0.5px dashed rgba(17, 0, 56, 1);
    outline-offset: -5px;
}

.button-sugerencias-1 p {
    color: white
}


/* Gifs sugerencias  */

.contenedor-gifs-sugerencias {
    margin: 0 auto;
    padding-top: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.sugerencias-gif {
    height: 300px;
    width: 280px;
    padding-top: 0.2%;
    padding-right: 0.4%;
    padding-left: 0.3%;
    padding-bottom: -8%;
    margin-right: 0.5%;
    background: #B4B4B4;
    box-shadow: inset -2px -2px 0 0 #5C5C5C, inset 2px 2px 0 0 #FFFFFF;
    margin-left: 0%;
}

#sugerencias-gif4 {
    margin-right: 0%;
}

.header-sugerencias-gif {
    height: 24px;
    background-image: linear-gradient(270deg, #EE3EFE 0%, #2E32FB 100%);
    /* width: 97%;  */
    position: relative;
    margin-top: 1%;
    display: flex;
    align-items: center;
}

.gifs-sugerencias {
    height: 265px;
    width: 265px;
    background: black;
    margin-top: 2px;
}

.gifs-sugerencias img {
    width: 100%;
    height: 100%;
}

.cerrar-gif {
    width: 16px;
    height: 14px;
    margin-right: 8px;
}

.header-sugerencias-gif p {
    font-size: 14px;
    font-family: "Chakra Petch";
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 0;
    font-weight: 700;
    margin-left: 3px;
}


/* Sección Tendencias 1 */

.section-tendencias-1 {
    padding-top: 393px;
    margin-left: 100px;
    margin-right: 140px;
    height: 99px;
}

.contenedor-tendencias-1 {
    height: 32px;
    background: #FFFAFE;
    border: 1px solid #E6BBE2;
    box-shadow: inset -2px -2px 0 0 #E6DCE4, inset 2px 2px 0 0 #80687D;
    display: flex;
    align-items: center;
    margin-bottom: 7px;
}

.contenedor-tendencias-1 p {
    margin-left: 7px;
}

.tendencias-gif img {
    width: 266px;
    height: 276px;
}

#div-gifs {
    margin: 9px 9px 0px 0px;
}

#div-gifs:hover {
    background: #B4B4B4;
    box-shadow: inset -2px -2px 0 0 #5C5C5C, inset 2px 2px 0 0 #FFFFFF;
    /* width: 271px; */
}

#contenedorgifs {
    display: flex;
    flex-direction: row;
    float: left;
    position: relative;
}

#p-gifs {
    float: left;
    position: absolute;
    left: 0px;
    bottom: 5px;
    z-index: 1000;
    background-image: linear-gradient(270deg, #EE3EFE 0%, #2E32FB 100%);
    padding-left: 5px;
    width: 266px;
    height: 20px;
    font-family: "Chakra Petch";
    font-size: 10px;
    color: white;
    letter-spacing: 0;
    line-height: 22px;
    font-weight: bold;
    display: none;
    transition: all 0.3s ease;
}

#div-gifs:hover #p-gifs {
    display: block;
    transition: all 0.3s ease;
}